@import "reset.css";
@import "main.css";

@font-face {
    font-family: 'UhBeeBEOJJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeBEOJJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}